<H3>
  Add a multiple Choice of Question:
</H3>
<ol class="survey-builder">
  <li class="<%= select %>">
    1.Select Options
  </li>
    <span class="bar">|</span>
  <li class="<%= add %>">
    2.Add Question Text
  </li>
</ol>