<H1>
  Survey Builder
</H1>
<hr class="bold">
<ol class="survey-builder">
  <li class="inactive">
    1.Build Survey
  </li>
    <span class="bar">|</span>
  <li>
    2.Add Questions
  </li>
</ol>
<p>
  Next, fill in the questions.
</p>
<div class="q-box-wrapper">
  <label class="big-fields-labels">
    Title:
  </label>
  <p>
    <%= @survey.title %>
  </p>

  <label class="big-fields-labels">
    Description:
  </label>
  <p>
    <%= @survey.description %>
  </p>
</div>