

<H1>Surveyor:</H1>
<H1>Tell Me #allthethings!</H1>

<p>Click on a survey below totake it or create one of your own!</p>

<BUTTON>
  Create a New Survey
</BUTTON>

<%= link_to "Take a Survey", new_survey_path %>