// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
========================
INDEX
========================*/



h1, h3 {
  text-align: center;
}

h4 {
  padding: 10px 3px;
  text-decoration: underline;
}

div.big-button-wrapper  {
  text-align: center;
}

ol li {
  font-weight: 700;
  font-size: 18px;
}

div.survey-list-wrapper {
  margin: 5px 0;
}

p.response, label.response {
  font-style: italic;
}

label.big-fields-labels {
  font-size: 20px;
  font-weight: 600;
}

span.bar { 
  font-size: 20px;
  color: #444;
}

ol.survey-builder {
  text-align: center;
  li {
    display: inline;
  }
  li.inactive {
    color: #bbb;
  }
}

p.inactive {
    color: #bbb;
  }

div.q-box-wrapper {
  padding: 10px 0;
}

hr.bold {
  border: 1px solid #888;
}

ol.questions li {
  font-size: 17px;
}

ol.choices li {
  list-style-type: lower-alpha;
  font-weight: 100;
}
